<% matching_result = Game.order(final_score: :desc) %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>User Name</th>
      <th>Score</th>
      <th>Game Id</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% matching_result.each_with_index do |game, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <% matching_records = User.where(id: game.user_id) %>
          <% user = matching_records.first %>
          <%= user.email.split('@').first %>
        </td>
        <td><%= game.final_score %></td>
        <td><%= game.game_id %></td>
        <td><%= game.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
